@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova_regular.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova_bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
