.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;

    &-main {
        li {
            margin-left: 30px;
        }

        a {
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &-footer {
        flex-direction: column;
        li {
            margin-bottom: 10px;
            position: relative;
        }

        a {
            line-height: 1.428;
            font-weight: 400;
        }
    }
}

.mobile-menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.mobile-menu-toggle .burger-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}

.menu-mobile {
    ul {
        list-style-type: none;

        li {
            a {
                font-family: $font-family;
                font-weight: 700;
                font-size: 15.92px;
                line-height: 100%;
                text-transform: uppercase;
                color: #000;
                transition: 0.3s;
            }
        }
    }
}
